:root {
    --border-radius: 0.4rem;
    --dark: #ac96f5;

}

* {
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Lobster', cursive;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
}

/* Set style to header */
.hero {
    padding: 3% 4%;
    color: blue;
    background-color: #5555cb;
}

.app-title {
    color: rgb(72, 59, 218);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(78,197,246,1) 27%);
    padding: 10px;
    border-radius: var(--border-radius);
    text-align: center;
}
 
#cityDetail,
#uvIndexColor,
li {
    color: #4D4F53 !important;
}

#searchResults,
#cityDetail,
.card {
    background-color: #819bf0 !important;
}

#searchResults {
    height: 100vh;
}

#fiveDay .card {
    border: 1px solid rgb(85, 6, 244) !important;
}

#searchHistory li {
    background-color: #9b0ded;
    color: #c9c9eb !important;
}

p {
    color: #6303e9;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Raleway', sans-serif;
}

h2,
h3,
h4,
h5 {
    color: #030384;
}

body {
    font-family: 'Lobster', cursive;
    background-color: #5050f5;
}