
:root {
    --border-radius: 0.4rem;
    --primary: #b2d9f9;
    --secondary: #3093e3;
    --tertiary: #690be4;
    --light-dark: #6c95c6;
    --dark: #6236f4;

}
* {
    box-sizing: border-box;
}
body {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
}
  
/* Set style to header */
.hero {
    padding:3% 4%;
    color: blue;
}
.app-title {
    font-size: 30px;
    color: rgb(72, 59, 218);
    background-color: rgb(178, 178, 245);
    padding: 10px;
    display: inline-block;
    border-radius: var(--border-radius);
}
h1, h2, h3 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
}
  /* Set style to main element*/
main {
    margin-left: 40px auto;
    width: 94%;
    min-height:100%;
    overflow: auto;
}
/*set  style to button*/
.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
}
  
.btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
}
  
.btn-inline {
    display: inline;
}
  
.btn-back {
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--secondary);
    transform: translate(-1px, -1px);
    display: inline-block;
    width: auto;
    margin-top: 20px;
    padding: 15px;
    text-decoration: none;
    font-size: 1.2rem;
}
.btn-back:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
}
.app-title {
    font-size: 3rem;
    background-color: var(--primary);
    color: var(--dark);
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--light-dark);
}
  
.list-group {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
    color: white;
    text-decoration: none;

}
  
.list-item:hover {
    background-color: var(--dark);
}
.card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
}
  
.card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 2.5%;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.weather-card {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
    color: var(--primary);
    text-decoration: none;
    margin-right: 10px;
    height: 250px;
    line-height: 1.8;
}

.five-day {
    display:flex;
} 